<div class="max-w-2xl mx-auto mt-8">
  <%= link_to "⬅ ホームに戻る", home_path, class: "btn btn-outline mb-6" %>

  <% @meal_items_by_genre.each do |genre, items| %>
    <h2 class="text-xl font-bold mt-6 mb-2">
      <%= items.first.genre_i18n %>
    </h2>

    <% items.each do |item| %>
      <p><%= item.my_menu.title %></p>
    <% end %>
  <% end %>
</div>
