<div class="max-w-2xl mx-auto mt-8">
  <%= link_to "⬅ ホームに戻る", home_path, class: "btn btn-outline mb-6" %>

  <% @meal_items_by_genre.each do |genre, items| %>
    <h2 class="text-sm font-semibold mt-6 mb-2
               border-l-4
               px-3 py-1 rounded
               <%= genre_heading_class(genre) %>">
      <%= items.first.genre_i18n %>
    </h2>

    <% items.each do |item| %>
      <p class="ml-4 text-gray-800">
        <%= item.my_menu.title %>
      </p>
    <% end %>
  <% end %>
</div>
