<div class="max-w-xl mx-auto mt-10">
  <div class="text-center mb-8">
    <h1 class="text-3xl font-bold">ホーム</h1>
    <p class="text-lg mt-2">ようこそ！</p>
  </div>

  <div class="grid gap-4">

    <%= link_to my_menus_path,
      class: "card bg-base-100 shadow hover:shadow-lg transition rounded-xl p-5 cursor-pointer" do %>
      <div class="flex items-center gap-3">
        <div class="badge badge-primary p-3 text-white">📘</div>
        <span class="text-lg font-semibold">マイメニュー一覧を見る</span>
      </div>
    <% end %>

    <%= link_to master_menus_path,
      class: "card bg-base-100 shadow hover:shadow-lg transition rounded-xl p-5 cursor-pointer" do %>
      <div class="flex items-center gap-3">
        <div class="badge badge-secondary p-3 text-white">🍳</div>
        <span class="text-lg font-semibold">定番メニューから登録する</span>
      </div>
    <% end %>

    
     <%= link_to new_meal_plan_path, class: "card bg-base-100 shadow hover:shadow-lg transition rounded-xl p-5 cursor-pointer" do %>
      <div class="flex items-center gap-3">
        <div class="badge badge-accent p-3 text-white">📅</div>
        <span class="text-lg font-semibold">献立を作成する</span>
      </div>
    <% end %>

    <%= link_to "#",
      class: "card bg-base-100 shadow hover:shadow-lg transition rounded-xl p-5 cursor-pointer" do %>
      <div class="flex items-center gap-3">
        <div class="badge badge-info p-3 text-white">🛒</div>
        <span class="text-lg font-semibold">買い物リストを見る</span>
      </div>
    <% end %>

  </div>
</div>
