<div class="container mt-5">
  <h1>ホーム</h1>

  <p>ようこそ！</p>

  <ul>
    <li><%= link_to "マイメニュー一覧を見る", my_menus_path %></li>
    <li><%= link_to "定番メニューから登録する", master_menus_path %></li>
    <li><%= link_to "一週間献立を見る", "#" %></li>
    <li><%= link_to "買い物リストを見る", "#" %></li>
  </ul>
</div>
