<p><%= @resource.email %> 様</p>

<p>
  パスワード再設定のご依頼を受け付けました。
  下記のリンクから新しいパスワードを設定してください。
</p>

<p>
  <%= link_to 'パスワードを再設定する',
      edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>
  もしこのメールにお心当たりがない場合は、
  このメールは破棄してください。
</p>

<p>
  上記リンクにアクセスして新しいパスワードを設定するまで、
  パスワードは変更されません。
</p>
